<div id="dashboard-back" class="container-fluid">
  <div class="">
    <a class="text-left dashboard-title" href="/logout">Logout</a>
    <h2 class="text-center dashboard-title">Avox - Landing Page Dashboard</h2>
  </div>

  <div class="row container-fluid mt-3">
    <div class="col-sm-4 mt-2">
      <div class="card">
        <div class="card-body border border-dark">
          <h5 class="card-title">Visitors</h5>
          <p class="card-text">1.040</p>
          <p class="card-text">Amount of visitors</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-2">
      <div class="card">
        <div class="card-body border border-dark">
          <h5 class="card-title">Conversions</h5>
          <p class="card-text">570</p>
          <p class="card-text">How many people sign up for a coupon</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-2">
      <div class="card">
        <div class="card-body border border-dark">
          <h5 class="card-title">Conversion Rate</h5>
          <p class="card-text">54.8%</p>
          <p class="card-text">Conversion Rate</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid mt-3">
    <div class="col-sm-4 mt-2">
      <div class="card">
        <div class="card-body border border-dark">
          <h5 class="card-title">Bounce Rate</h5>
          <p class="card-text">20%</p>
          <p class="card-text">Percentage of visitors who leave without completing an action</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-2">
      <div class="card">
        <div class="card-body border border-dark">
          <h5 class="card-title">Average time per session</h5>
          <p class="card-text">4 min</p>
          <p class="card-text">Average time spend on the landing page</p>
        </div>
      </div>
    </div>

  </div>


  <div class="container-fluid mt-4">
    <div class="col-sm-12">
      <div class="table-responsive">
        <h5 class="card-title dashboard-title">Traffic by Source</h5>
        <table id="table" class="table border border-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Source</th>
              <th scope="col">Sessions</th>
              <th scope="col">Conversions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Google</td>
              <td>3.117 </td>
              <td>10.9%</td>
            </tr>
            <tr>
              <td>Facebook</td>
              <td>2.105</td>
              <td>12.9%</td>
            </tr>
            <tr>
              <td>Instagram</td>
              <td>3.102</td>
              <td>9.9%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>