

<div class="wrapper">
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
</div>

<form class="form" action="/getCoupon" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="name">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="email@domain.com">

  {{!-- {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}} --}}

  <button type="submit">Get your coupon!</button>

    <style>
        #map {
            height: 60vh;
            width: 60vh;
        }
    </style>

  <div id="map">

  </div>
<!--  Axios CDN  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  Google Maps Key  -->
  <script
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww&libraries=places">  </script>
  </script>
<!--  Connect main.js  -->
  <script type="text/javascript" src="/javascripts/map.js"></script>