    <style>
        #map {
            height: 60vh;
            width: 60vh;
        }
    </style>

  <div id="map">

  </div>
<!--  Axios CDN  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  Google Maps Key  -->
  <script
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww&libraries=places">  </script>
  </script>
<!--  Connect main.js  -->
  <script type="text/javascript" src="/javascripts/map.js"></script>
</body>